# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Dart

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: "0 0 * * 0"

env:
  PUB_ENVIRONMENT: bot.github

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sdk: [3.4, dev]

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
      - uses: dart-lang/setup-dart@0a8a0fc875eb934c15d08629302413c671d3f672
        with:
          sdk: ${{ matrix.sdk }}

      - run: dart pub get
        id: install
      - run: dart format --output=none --set-exit-if-changed .
        if: always() && steps.install.outcome == 'success'
      - run: dart analyze --fatal-infos
        if: matrix.sdk == 'dev' && steps.install.outcome == 'success'
      - run: dart analyze --no-fatal-warnings
        if: matrix.sdk != 'dev' && steps.install.outcome == 'success'
      - run: dart test
        if: always() && steps.install.outcome == 'success'
