# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Dart

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: "0 0 * * 0"

env:
  PUB_ENVIRONMENT: bot.github

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sdk: [3.9, dev]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: ${{ matrix.sdk }}

      - run: dart pub get
        id: install
      - name: analyzer and test
        run: |
          dart analyze --no-fatal-warnings
          dart test
        if: matrix.sdk != 'dev'

      - name: format, analyze, test with coverage
        run: |
          dart format --output=none --set-exit-if-changed .
          dart analyze --fatal-infos
          dart pub global activate coverage
          dart pub global run coverage:test_with_coverage
        if: matrix.sdk == 'dev'
      - uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./coverage/lcov.info
        if: matrix.sdk == 'dev'
